<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:log4j="http://logging.apache.org/log4j/">
    <Appenders>
        <RollingFile name="R"
            fileName="${sys:catalina.home}/logs/werti.log"
            filePattern="${sys:catalina.home}/logs/werti.log.%i">
            
            <DefaultRolloverStrategy max="4"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="5MB"/>
            </Policies>
            <PatternLayout pattern="%d %p %t %c - %m%n"/>
        </RollingFile>
        <Console name="stdout">
            <PatternLayout pattern="%d %5p [%t] (%F:%L) - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="stdout"/>
            <AppenderRef ref="R"/>
        </Root>
    </Loggers>
</Configuration>