<?xml version="1.0" encoding="UTF-8"?>
<!-- was ISO-8859-1 -->

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <!-- General description of your web application -->
  <display-name>WERTisme</display-name>
  <description>Learning languages interactively on the WEB</description>

  <context-param>
    <param-name>webmaster</param-name>
    <param-value>adriane@sfs.uni-tuebingen.de</param-value>
    <description>Mail for trouble</description>
  </context-param>

  <servlet>
    <servlet-name>WERTiServlet</servlet-name>
    <servlet-class>werti.server.WERTiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WERTiServlet</servlet-name>
    <url-pattern>/WERTiServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UploadDownloadFileServlet</servlet-name>
    <servlet-class>werti.server.UploadDownloadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadDownloadFileServlet</servlet-name>
    <url-pattern>/UploadDownloadFileServlet</url-pattern>
  </servlet-mapping>

  <context-param>
    <param-name>files_dir</param-name>
    <!-- local:
    <param-value>/Users/car010/main/apps/teaksta/sme/fileUpload/</param-value>
    -->
    <param-value>/home/teaksta/fileUpload/</param-value>
  </context-param>
  <context-param>
    <param-name>files_prm_dir</param-name>
    <!-- local:
    <param-value>/Users/car010/main/apps/teaksta/sme/fileUpload/prm/</param-value>
    -->
    <param-value>/home/teaksta/fileUpload/prm/</param-value>
  </context-param>
  <context-param>
    <param-name>files_tmp_dir</param-name>
    <!-- local:
    <param-value>/Users/car010/main/apps/teaksta/sme/fileUpload/tmp/</param-value>
    -->
    <param-value>/home/teaksta/fileUpload/tmp/</param-value>
  </context-param>
  <context-param>
    <param-name>secret_key</param-name>
    <!-- local:
    <param-value>/Users/car010/main/apps/teaksta/sme/secret_key.do.not.check.in</param-value>
    -->
    <param-value>/home/teaksta/secret_key.do.not.check.in</param-value>
  </context-param>
  <listener>
	  <listener-class>werti.server.FileLocationContextListener</listener-class>
  </listener>

  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>

  <error-page>
    <error-code>404</error-code>
    <location>/index.jsp?content=error-404</location>
  </error-page>

  <error-page>
    <error-code>500</error-code>
    <location>/index.jsp?content=error-500</location>
  </error-page>

  <error-page>
    <exception-type>java.net.MalformedURLException</exception-type>
    <location>/index.jsp?content=error-malformedurl</location>
  </error-page>

</web-app>
