.custom_bcg {
	background: linear-gradient(to bottom right, #0D38A3, #2e61e0);
}
.img_oahpa {
	height: 30%;
	width: 20%;
}
.blue_color, #user_url{
	color: #144ea6;
}
.red_color {
	color: #b82d1c;
}
.blue_class {
	color: #144ea6;
	cursor: pointer;
}
.orange_class {
	color: #f0ce0a;
	cursor: pointer;
	font-weight: bold;
}
.ul_style {
	list-style-type: none;
}
.div_container {
	margin-top: 30px;
	margin-bottom: 10px;
}
.yellow_stripe {
	background: linear-gradient(to bottom right, #FFDB06, #ffeb73);
	font-size:5px;
	padding:0;
	margin:0;
}
.green_stripe {
	background: linear-gradient(to bottom right, #489456, #50aa60);
	padding:0;
	margin:0;
	font-size:5px;
}
.grey_stripe {
	background-color: #f0efef;
	padding:5px;
	margin:0;
	text-align:center;
	font-size:12px;
}
.footer_div {
	position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
	margin-top: 60px;
}
.bold_lighter_blue{
	color: #1959bd;
	font-weight: bold;
}
.li_hline {
	line-height: 16px;
	display:block;
}
.ul_hline {
	line-height: 10px;
}
#user_url {
	display: none;
}
#mode_1:hover, #mode_2:hover, #mode_3:hover, .fáttát_list:hover, .fáttát_list:hover span, .hárjehusa_list:hover, .hárjehusa_list:hover span {
	cursor: pointer;
	color: #ecc637;
}
