<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="sme">
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	    <title>Konteaksta - working with authentic Russian texts</title>
		
        <link rel="stylesheet" type="text/css" href="main.css"/>
        <script type="text/javascript">
            function setActivity(act) {
                //alert("selected activity:"+act);
                var lists=document.getElementsByTagName("li");
                for (var i=0; i<lists.length; i++) {
                    var link=lists[i].getElementsByTagName("a");
                    link[0].style.color="#144ea6";
                }
                var x=document.getElementById(act);
                x.style.color="#e98300";
                var y=document.getElementsByName("activity");
                y[0].value=act;
                //var z=document.getElementById("instruct");
                //z.innerHTML="activities/"+act+"/help.jsp"; // Todo: insert the relevant help page for each topic in the instruction box.
		}                
        </script>
        
    </head>

<body onload="setActivity('SubstantiveSingular')">
    
	<div id="page">
        <table id="headermenu">
            <tr>
                <td style="width:80%; height:110px; text-align:center; font-size:24px; color:#FFFFFF; background-color:#e98300;">KONTEAKSTA – work with real texts!</td>
                <td style="width:20%; padding-bottom:20px; text-align:center; background-color:#e98300"><a href="http://testing.oahpa.no/rusoahpa"><img src="images/Oahpa_logo0001.png" alt="Russian OAHPA!" style="width:80%; height:auto"/></a></td>
            </tr>
        </table>
		
        <!-- <div id="language_options">
		{% block language_select %}
		
			{% get_current_language as LANGUAGE_CODE %}
			<form action="/{{ URL_PREFIX }}/i18n/setlang/" method="post" name="newlang">
				<dl>
					<dt><label for="language_select" class="interface">{% trans_to "Interface language" "sme" %}<span class="invisible">{% trans "Interface language" %}</span></label></dt>
					<dd>
						<input name="next" type="hidden" value="{% block pagename %}{% endblock %}" />
						<select id="language_select" name="language" onChange="javascript:this.form.submit();">
						
						{% ifequal LANGUAGE_CODE "no" %}
							<option value="no" selected="selected">Norsk</option>
						{% else %}
							<option value="no">Norsk</option>
						{% endifequal %}
						
						{% ifequal LANGUAGE_CODE "sme" %}
							<option value="sme" selected="selected">Davvisámi</option>
						{% else %}
							<option value="sme">Davvisámi</option>
						{% endifequal %}
						
						{% ifequal LANGUAGE_CODE "en" %}
							<option value="en" selected="selected">English</option>
						{% else %}
							<option value="en">English</option>
						{% endifequal %}

						{% ifequal LANGUAGE_CODE "sv" %}
							<option value="sv" selected="selected">Svenska</option>
						{% else %}
							<option value="sv">Svenska</option>
						{% endifequal %}
							  
						{% ifequal LANGUAGE_CODE "fi" %}
						 	<option value="fi" selected="selected">Suomi</option> 
						{% else %}
						 	<option value="fi">Suomi</option> 
						{% endifequal %}
						 
					</select>
					</dd>
				</dl>
				<input type="submit" class="hide" value="submit" />
			</form>
		{% endblock %}
        </div> -->
		
        <div id="content">
		<div id="leftcontent">
            
            <div id="navbar">
                <img width="120" border="0" src="images/littleman.png" alt="Game logo" />
                <div class="bigheader">Exercise topics</div>
                <!-- <div class="smallheader">Word inflection:</div> -->
                <ul class="sidelist">                
                <li><a href="#" id="SubstantiveSingular" onclick="setActivity('SubstantiveSingular')">Substantives in singular</a></li>
                <li><a href="#" id="SubstantivePlural" onclick="setActivity('SubstantivePlural')">Substantives in plural</a></li>
                <li><a href="#" id="PresFutInd" onclick="setActivity('PresFutInd')">Present/Future verbs</a></li>
               <!-- <li><a href="#" id="NegVerbs" onclick="setActivity('NegVerbs')">Negative verb forms</a></li> -->
                <li><a href="#" id="InfiniteVerbs" onclick="setActivity('InfiniteVerbs')">Infinite verb forms</a></li>
                <li><a href="#" id="Conjunctions" onclick="setActivity('Conjunctions')">Conjunctions</a></li>
                </ul>
                <!-- <div class="smallheader">Syntactic functions:</div>
                <ul class="sidelist">
                <li><a href="#" id="Subject" onclick="setActivity('Subject')">Subject</a></li>
                <li><a href="#" id="Object" onclick="setActivity('Object')">Object</a></li>
                <li><a href="#" id="Adverbial" onclick="setActivity('Adverbial')">Adverbial</a></li>
                </ul> -->
            </div> 
            
            <div class="bigheader">Resources</div>
            <ul class="sidelist small">
                <li><a target="_blank" href="http://sanit.oahpa.no/sme/nob">Online dictionary</a></li>
                <li><a target="_blank" href="http://oahpa.no/sme/gramm/grammatihkka.html">Grammar</a></li>
             <!--   <li><a target="_blank" href="http://kursa.oahpa.no">Oahpa giela!-kursa</a></li>
                <li><a href="teaksta_birra.html">Konteaksta-prográmma birra</a></li> -->
                <li><a href="about_teaksta.html">About Konteaksta</a></li>
            </ul>
            
        </div>
        
        <div id="rightcontent">
            <a name="content" class="hide">&nbsp;</a>
            <div id="game_right_float">
                <div id="instructions">
                    <!-- <p id="instruct"></p> -->
                    <p>1. Choose the exercise topic from the left menu.</br>2. Choose the exercise type.</br>3. Choose the web page to work with.</p>
                </div>
            </div>

            <div id="settings" style="padding:20px">
            <table width="350px"><tr><td style="width:70%"><b>Exercise type:</b></br></td>
            <td>
            <form class="activityForm" target="_blank" method="get" action="WERTiServlet" name="activityForm">
                <input type="hidden" name="activity" id="activity" value="" />
                <select class="exercisetype" name="client.enhancement">
                    <option value="colorize" selected>Highlight the words (non-interactive)</option>
                    <option value="click">Click on the words</option>
		            <option value="mc">Choose from the list</option>
                    <option value="cloze">Fill in the blanks</option>
                </select>
            </td></tr>
            </table>
            </br>
            </br></br></br>
                <!--<b>Choose the web site:</b>
                </br>
                ........
                </br>
                ........
                </br>
                ........
                </br>
                ........
                </br>
                </br>
                </br> -->
                <b>Enter the URL of the web site you want to practice the Russian grammar on:</b>
                <input type="text" name="url" size="100"/>
                &nbsp;
                <input type="submit" value="Go!" class="activityFormSubmit" />&nbsp;</br>(opens in a new tab)
                </br>
                </br>
                
            </form>
            <div class="searchBox">
                <b>Use <img src="images/google_logo.jpg" height="16px"/> search for finding web pages to work with:</b>
               <form method="get" id="searchbox" action="http://www.google.com/search" target="_blank"> 
                    <input type="hidden" name="cref" value="" />  
                    <input type="hidden" name="ie" value="utf-8" />
                    <input type="hidden" name="hl" value="" /> 
                    <input type="text" name="q" class="searchField" />
		    <input type="hidden" name="lr" value="lang_ru" />
                    <!-- <input type="hidden" name="query" class="searchField" value="leat" /> 
                    <input type="hidden" name="siteurl" value="avvir.no">
                    <input type="hidden" name="sitesearch" value="samediggi.no"> --> 
                    <input type="submit" value="Search" class="searchSubmit">
                </form> 
                (If you find a page you like then copy its address into the URL field and click 'Go!')   
            </div>
            </div>
                        
        </div>
        </div>
        <div id="footer">
			<div id="copyright">
                <p>Copyright 2014 UiT - the arctic university of Norway<br />
                Contact us: <a href="mailto:oahpa@hum.uit.no">oahpa@hum.uit.no</a></p>
			</div>
        </div>
    </body>
</html>
        
