<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	    <title>Teaksta - working with authentic North Sámi texts</title>
		
        <link rel="stylesheet" type="text/css" href="main.css"/>
        <script type="text/javascript">
            function setActivity(act) {
                var lists=document.getElementsByTagName("li");
                for (var i=0; i<lists.length; i++) {
                    var link=lists[i].getElementsByTagName("a");
                    link[0].style.color="#144ea6";
                }
                var x=document.getElementById(act);
                x.style.color="#e98300";
                var y=document.getElementsByName("activity");
                y[0].value=act;
                var z=document.getElementById("instruct");
                //z.innerHTML="activities/"+act+"/help.jsp"; // Todo: insert the relevant help page for each topic in the instruction box.
            }
        </script>
        
    </head>

<body>
    
	<div id="page">
        <table id="headermenu">
            <tr>
                <td style="width:70%; height:110px; text-align:center; font-size:24px; color:#FFFFFF; background-image:url('images/werti_bg_orange.png')">Teaksta - working with authentic North Sámi texts</td>
                <td style="width:20%; padding-bottom:30px; text-align:center"><a href="http://oahpa.no/davvi"><img src="images/Oahpa_logo0001.png" alt="OAHPA!" style="width:60%; height:auto"/></br><img src="images/morfac_small.png" alt="OAHPA!" style="width:15%; height:auto"/><img src="images/morfa_small.png" alt="OAHPA!" style="width:15%; height:auto"/><img src="images/vasta_small.png" alt="OAHPA!" style="width:15%; height:auto"/><img src="images/sahka_small.png" alt="OAHPA!" style="width:15%; height:auto"/><img src="images/leksa_small.png" alt="OAHPA!" style="width:15%; height:auto"/><img src="images/numra_small.png" alt="OAHPA!" style="width:15%; height:auto"/></a></td>
                <td style="width:10%; padding-bottom:30px; text-align:center; background-image:url('images/oahpa_bgr.png'); background-size: 50px"><a style="color:#FFFFFF; text-decoration:none" href="http://kursa.oahpa.no">KURSA</a></td>
            </tr>
        </table>
		<!-- <a class="hide" href="#content">Skip to content</a> -->
		
        <!-- <div id="language_options">
		{% block language_select %}
		
			{% get_current_language as LANGUAGE_CODE %}
			<form action="/{{ URL_PREFIX }}/i18n/setlang/" method="post" name="newlang">
				<dl>
					<dt><label for="language_select" class="interface">{% trans_to "Interface language" "sme" %}<span class="invisible">{% trans "Interface language" %}</span></label></dt>
					<dd>
						<input name="next" type="hidden" value="{% block pagename %}{% endblock %}" />
						<select id="language_select" name="language" onChange="javascript:this.form.submit();">
						
						{% ifequal LANGUAGE_CODE "no" %}
							<option value="no" selected="selected">Norsk</option>
						{% else %}
							<option value="no">Norsk</option>
						{% endifequal %}
						
						{% ifequal LANGUAGE_CODE "sme" %}
							<option value="sme" selected="selected">Davvisámi</option>
						{% else %}
							<option value="sme">Davvisámi</option>
						{% endifequal %}
						
						{% ifequal LANGUAGE_CODE "en" %}
							<option value="en" selected="selected">English</option>
						{% else %}
							<option value="en">English</option>
						{% endifequal %}

						{% ifequal LANGUAGE_CODE "sv" %}
							<option value="sv" selected="selected">Svenska</option>
						{% else %}
							<option value="sv">Svenska</option>
						{% endifequal %}
							  
						{% ifequal LANGUAGE_CODE "fi" %}
						 	<option value="fi" selected="selected">Suomi</option> 
						{% else %}
						 	<option value="fi">Suomi</option> 
						{% endifequal %}
						 
					</select>
					</dd>
				</dl>
				<input type="submit" class="hide" value="submit" />
			</form>
		{% endblock %}
        </div> -->
		
        <div id="content">
		<div id="leftcontent">
            
            <div id="navbar">
                <img width="120" height="120" border="0" src="images/littleman.png" alt="Game logo" />
                <div class="bigheader">TEAKSTA</div>
                <ul class="sidelist">
                <li><a href="#" id="Conjunctions" onclick="setActivity('Conjunctions')"> Conjunctions</li>
                <li><a href="#" id="Subject" onclick="setActivity('Subject')">Subject</a></li>
                <li><a href="#" id="Object" onclick="setActivity('Object')">Object</a></li>
                <li><a href="#" id="Adverbial">Adverbial</a></li>
                <li><a href="#" id="SubstantiveSingular" onclick="setActivity('SubstantiveSingular')">Substantive Singular</a></li>
                <li><a href="#" id="SubstantivePlural" onclick="setActivity('SubstantivePlural')">Substantive Plural</a></li>
                <li><a href="#" id="VerbConjugation" onclick="setActivity('VerbConjugation')"> Verb Conjugation</a></li>
                <li><a href="#" id="NegVerbs" onclick="setActivity('NegVerbs')">Negative Verb Forms</a></li>
                <li><a href="#" id="InfiniteVerbs" onclick="setActivity('InfiniteVerbs')"> Infinite Verb Forms</a></li>
                </ul>
            </div>
            
            <strong>Reference materials</strong>
            <ul class="sidelist small">
               <!-- {% ifequal LANGUAGE_CODE "fi" %}
                <li><a target="_blank" href="http://sanit.oahpa.no/sme/fin" class="interface">{% trans_to "Dictionary" "sme" %}<span class="invisible">{% trans "Dictionary" %}</span></a></li>
                {% else %} -->
                <li><a target="_blank" href="http://sanit.oahpa.no/sme/nob">Dictionary</a></li>
                <!-- {% endifequal %}
                {% ifequal LANGUAGE_CODE "sme" %}
                <li><a target="_blank" href="http://oahpa.no/sme/gramm/grammatihkka.html" class="interface">{% trans_to "Grammar" "sme" %}<span class="invisible">{% trans "Grammar" %}</span></a></li>
                {% endifequal %}
                {% ifequal LANGUAGE_CODE "fi" %}
                <li><a target="_blank" href="http://oahpa.no/sme/gramm/grammatihkka.html" class="interface">{% trans_to "Grammar" "sme" %}<span class="invisible">{% trans "Grammar" %}</span></a></li>
                {% endifequal %}
                {% ifequal LANGUAGE_CODE "en" %}
                <li><a target="_blank" href="http://oahpa.no/sme/gramm/grammatihkka.eng.html" class="interface">{% trans_to "Grammar" "sme" %}<span class="invisible">{% trans "Grammar" %}</span></a></li>
                {% endifequal %}
                {% ifequal LANGUAGE_CODE "no" %} -->
                <li><a target="_blank" href="http://oahpa.no/sme/gramm/grammatihkka.nob.html">Grammar</a></li>
                <!-- {% endifequal %}
                {% ifequal LANGUAGE_CODE "sv" %}
                <li><a target="_blank" href="http://oahpa.no/sme/gramm/grammatihkka.nob.html" class="interface">{% trans_to "Grammar" "sme" %}<span class="invisible">{% trans "Grammar" %}</span></a></li>
                {% endifequal %}
            </ul>
            
            <strong class="interface">{% trans_to "Online courses" "sme" %}<span class="invisible">{% trans "Online courses" %}</span></strong>
            <ul class="sidelist small">
                {% if user.is_authenticated %}
                <li><a href="{% url univ_oahpa.courses.views.courses_main %}" class="interface">{% trans_to "View progress" "sme" %}<span class="invisible">{% trans "View progress" %}</span></a></li>
                <li><a href="{% url univ_oahpa.courses.urls.logout %}" class="interface">{% trans_to "Log out" "sme" %}<span class="invisible">{% trans "Log out" %}</span></a></li>
                {% else %}
                <li><a href="{% url courses_login %}" class="interface"> {% trans_to "Log in" "sme" %}<span class="invisible">{% trans "Log in" %}</span></a></li>
                {% endif %} -->
            </ul>
            
        </div>
        
        <div id="rightcontent">
            <a name="content" class="hide">&nbsp;</a>
            <div id="game_right_float">
                <div id="instructions">
                    <!-- <p id="instruct"></p> -->
                    <p>Instructions here...</p>
                </div>
            </div>

            <div id="settings" style="padding:20px">
            <table width="280px"><tr><td style="width:50%"><b>Exercise type:</b></td>
            <td>
            <form class="activityForm" target="_blank" method="get" action="WERTiServlet" name="activityForm">
                <input type="hidden" name="activity" id="activity" value="" />
                <select class="exercisetype" name="client.enhancement">
                    <option value="colorize" selected>colorize</option>
                    <option value="click">click</option>
                    <option value="mc">multiple choice</option>
                    <option value="cloze">practice</option>
                </select>
            </td></tr>
            </table>
            </br>
            </br>
                <b>Choose a text:</b>
                </br>
                (list of pages recommended by a teacher)
                </br>
                ........
                </br>
                ........
                </br>
                ........
                </br>
                </br>
                </br>
                You can also practice North Sámi grammar on the web pages that you choose yourself.
                </br>
                </br>
                <b>URL:</b>&nbsp; <input type="text" name="url" size="100"/>
                &nbsp;
                <input type="submit" value="Go!" class="activityFormSubmit" />&nbsp;</br>(opens in a new window)
                </br>
                </br>
                
            </form>
            </div>
                        
        </div>
        </div>
        <div id="footer">
			<div id="copyright">
                <p>Copyright 2013 Universitetet i Troms&oslash;<br />
                Contact &nbsp; oahpa@uit.no</p>
			</div>
        </div>
    </body>
</html>
        
